<?xml version="1.0"?>
<!--
  Kendola Login With Amazon for Magento

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.txt.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @category   Kendola
  @package    Kendola_AmazonLogin
  @author     Oliver Treck, kendola - easy eCommerce <o.treck@kendola.de>
  @copyright  Copyright (c) 2017 kendola - easy eCommerce (http://www.kendola.de/)
  @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  -->
<config>
    <modules>
        <Kendola_AmazonLogin>
            <version>1.0.0</version>
        </Kendola_AmazonLogin>
    </modules>

    <global>
        <models>
            <amazonlogin>
                <class>Kendola_AmazonLogin_Model</class>
                <resourceModel>amazonlogin_mysql4</resourceModel>
            </amazonlogin>
            <amazonlogin_mysql4>
                <class>Kendola_AmazonLogin_Model_Resource</class>
                <entities>
                    <amazonlogin>
                        <table>kendola_amazonlogin_customer</table>
                    </amazonlogin>
                </entities>
            </amazonlogin_mysql4>
        </models>

        <resources>
            <amazonlogin_setup>
                <setup>
                    <module>Kendola_AmazonLogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amazonlogin_setup>
            <amazonlogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </amazonlogin_write>
            <amazonlogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </amazonlogin_read>
        </resources>

        <blocks>
            <amazonlogin>
                <class>Kendola_AmazonLogin_Block</class>
            </amazonlogin>
        </blocks>

        <helpers>
            <amazonlogin>
                <class>Kendola_AmazonLogin_Helper</class>
            </amazonlogin>
        </helpers>
    </global>

    <frontend>
        <routers>
            <amazonlogin>
                <use>standard</use>
                <args>
                    <module>Kendola_AmazonLogin</module>
                    <frontName>amazonlogin</frontName>
                </args>
            </amazonlogin>
        </routers>

        <layout>
            <updates>
                <amazonlogin>
                    <file>amazonlogin.xml</file>
                </amazonlogin>
            </updates>
        </layout>
    </frontend>

    <default>
        <amazonlogin>
            <settings>
                <enabled>0</enabled>
            </settings>
        </amazonlogin>
    </default>
</config>
